{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "rules": { 
      "no-console": 0, // Remember, this means error!
      "no-unused-expressions": 0,
      "no-var-requires": 0
      // "no-unused-labels"
      // "no-useless-call"
      // no-useless-catch
      // no-useless-computed-key
      // no-useless-concat
      // no-useless-escape
      // // no-useless-rename
      // no-useless-return
      // no-unused-vars
      // no-unreachable
      // no-unreachable-loop
      // no-dupe-else-if
      // no-dupe-class-members
      // no-const-assign
    }
  }